zz.camilleking.space:80 {
    root /usr/src/trojan
    log /usr/src/caddy.log
    index index.html
}

zz.camilleking.space:443 {
    root /usr/src/trojan
    log /usr/src/caddy.log
    index index.html
}
