bb.camilleKing.space:80 {
    root /usr/src/trojan
    log /usr/src/caddy.log
    index index.html
}

bb.camilleKing.space:443 {
    root /usr/src/trojan
    log /usr/src/caddy.log
    index index.html
}
